<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="APIRoutes" stopProcessing="true">
          <match url="^(api|auth|\.auth)/.*" />
          <action type="Rewrite" url="dist/server.js"/>
        </rule>

        <rule name="StaticContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
            <add input="{REQUEST_URI}" pattern="^/public/.*" />
          </conditions>
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <rule name="SPARoutes" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="dist/server.js"/>
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <iisnode watchedFiles="web.config;dist\*.js" loggingEnabled="true" devErrorsEnabled="true" />
  </system.webServer>
</configuration>